html {
  padding-top: 20%;
  background-color: darkgray;
  background-image: url(main.jpg);
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-size: ;
  background-position: top;
  text-align: center;
}
a {
  color: white;
  text-shadow: 2px 2px 3px #000000;
  list-style: none;
}
h1 {
  color: white;
  font-size:45px;
  text-shadow: 2px 2px 3px #000000;
}
h2 {
  color: white;
  font-size: 30px;
  text-shadow: 2px 1px 3px #000000;
}
h3 {
  font-size: 16px;
}
p {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 3px #000000;
}
ul {
  line-height: 20px;
  list-style: none;
}
